<a href="https://colab.research.google.com/github/estherUgwueke/Stage-A/blob/master/StageA3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
csv_df = pd.read_csv("https://bit.ly/HDSC-StageOneDataset")

In [6]:
csv_df.head(100)

                  record_id  ...  fuel_cost_per_mmbtu
0     f1_fuel_1994_12_1_0_7  ...                1.121
1    f1_fuel_1994_12_1_0_10  ...                1.120
2     f1_fuel_1994_12_2_0_1  ...                1.650
3     f1_fuel_1994_12_2_0_7  ...                1.970
4    f1_fuel_1994_12_2_0_10  ...                2.570
..                      ...  ...                  ...
95   f1_fuel_1994_12_17_0_8  ...                1.722
96  f1_fuel_1994_12_17_0_10  ...                2.843
97  f1_fuel_1994_12_17_0_14  ...                1.959
98   f1_fuel_1994_12_17_1_6  ...                1.649
99  f1_fuel_1994_12_17_1_11  ...                2.007

[100 rows x 11 columns]

In [14]:
csv_df = pd.read_csv("https://bit.ly/HDSC-StageOneDataset")
fuel_data = csv_df

In [16]:
fuel_data.columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

In [28]:
fuel_data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [32]:
# to get standard deviation
fuel_data["fuel_mmbtu_per_unit"].std()

10.600220307806886

In [35]:
#percentile
percentile = fuel_data["fuel_mmbtu_per_unit"].quantile(q=0.75, interpolation="linear")
print(percentile)

17.006

In [25]:
fuel_data.std

<bound method DataFrame.std of                      record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]>

In [36]:
#To get skewness
fuel_data["fuel_qty_burned"].skew()

15.851495469109503

In [37]:
#To get Kurtosis
fuel_data["fuel_qty_burned"].kurt()

651.3694501337732

In [41]:
#to get percentage change in two years
yearly_cost = fuel_data.groupby(["report_year", "fuel_type_code_pudl"])["fuel_cost_per_unit_burned"].sum()

year_1994, year_1998 = yearly_cost.loc[[1994, 1998], "coal"]
percent_change = ((year_1998-year_1994)/ year_1994) * 100
print(percent_change)

-20.56765451826049

In [42]:
#correlation
fuel_data.corr().loc["fuel_cost_per_unit_burned"].abs().sort_values()

fuel_cost_per_mmbtu             0.000437
fuel_mmbtu_per_unit             0.010034
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_qty_burned                 0.018535
utility_id_ferc1                0.037863
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [31]:
#identity matrix is created by 
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])